:root {
    --main-color: #5d11c2;
    --alt-color: #6ea8ff;


    
}
/* clear default styling*/
* {
    margin: 0;
    padding: 0;
   
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

/* general */

.section {
    padding-top: 5%;
}

/* header stuff*/





.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}


.home {
    margin-left: 2vw;
    margin-right: 8vw;
    color: turquoise;
   

}

.left-nav {
    color: tan
}

.header-left, .header-right{
    margin-top: 20px;
    display: flex;
  
    
}



.header-left {
    justify-content: space-evenly;
    
}



nav {
    display: flex;
}

ul {
    display: flex;
    margin-right: 10px;
    gap: 0px 5px;
    align-items: center;
}

/* hero stuff*/

.hero-container {
    height: 800px;
    width: 100%;
    display: flex;
    
}

.hero-content {
    text-align: center;
    width: 50%;
   margin: auto;
   margin-top: 33%;  
}

.hero-text {

    color: white;
}

.name {
    color: goldenrod;
    border-bottom: 2px solid green;
}

.hero-nav {
    display: flex;
    justify-content: space-around;
}

hr {
    border-color: green;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-left {
    width: 70%;
    height: 100%;
    background-color: var(--main-color);
}

.hero-mid {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero-mid-main {
    background-color: var(--main-color);
}

.hero-main-white {
    background-color: white;
}

.hero-right {
  
   margin-right: 20px;
    background-color: white;
}


/* hero shapes*/

.shape {
    width: 120px;
    height: 120px;
}

.square {
    border-radius: 15%;
}

.circle {
    border-radius: 50%;
}

.main-square {
    background-color: var(--main-color);
}


.alt-square1 {
    background-color: #290052;

}

.alt-square2 {
    background-color: #9d50e9;

}

.teal-circle {
    background-color: teal;
}

.pink-circle {
    background-color: pink;
}

.white-square {
    background-color: white;
}

/* shape animation*/

.shape:hover {
    animation: shape-in 1s ease-in-out;
    animation-delay: .5s;
    
}
.shape {
    animation: shape-out 1s ease-in-out;
    animation-delay: .1s;
}


@keyframes shape-in {
        from {transform: rotateY(0deg);}
        to {transform: rotateY(180deg);}
    
}
@keyframes shape-out {
    from {transform: rotateY(180deg);}
        to {transform: rotateY(0deg);}
}


/*general section styling*/

section {

    width: 100%;
    
}

.section-heading {
    width: 100%;
    
    
}

.section-heading {
    text-align: center;
    padding: 40px 0 80px 0;
}

/* Featured project*/

#featured {
    height: 500px;
}

.featured-project-section {
    width: 100%;
    display: flex;
    

}

.featured-project-left {
    width: 60%;
    position: relative;
}

.featured-project-left h5 {
    color: var(--main-color);
    font-weight: bolder;
    line
}

.featured-project-right {
    width: 40%;
    position: relative;
}

.featured-project-info {
    width: 50%;
    height: 40%;
    margin-top: 12%;
    margin-left: 30%;
}

.featured-project-description {
    margin-top: 10%;
    line-height: 1.6;
}

.featured-project-left::before {
    content: "";
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: pink;
    opacity: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.featured-project-right img{
    border-radius: 2%;
    position: absolute;
    margin-right: 30px;
    bottom: 0;
    right: 0;
}



/* project section */

#projects {
    background-color: pink;
    height: 1000px;
}

.project-section {
    margin-top: -3em;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
}
.project-box {
    width: 20%;
    height: 600px;
    text-align: center;
    
    box-shadow: .5px .5px;
    border-radius: 10px;
    background-color: white;
    padding: 2%;
}


.project-box > img {
    width: 80%;
    height: 200px;

}

.project-name {
    margin: 10px 0px 10px 0px;
    border-bottom: 1px solid black;
}

.project-description, .technologies {
    margin: 20px 0 20px 0px;
}

.project-button {
    display: inline-block;
    margin: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: pink;
}

.project-button:hover {
    cursor: pointer;
}